<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="rusty-engine-sdk" value=".runtime/rusty-engine-csharp-pair-0.1.0-dev.cbf35130d06c-linux-x64/sdk-feed" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
